{% extends 'base.html' %}

{% block main %}
    <div class="title">
        <h2>About</h2>
        <p>本Webアプリの機能について知ろう！</p>
    </div>

    <div class="accordion__container">
        <div class="accordion__tab">コサイン類似度(cos)について</div>
        <div class="accordion__content">
            <p>
                レコメンド方法で選べる「cos」で使用できるAIはコサイン類似度という尺度を用いた協調フィルタリングという手法でレコメンドしています。
            </p>
    
            <p>
                <a href="https://mathlandscape.com/cos-similar/">コサイン類似度(Cosine Similarity)</a>とは、一般的にある2つのベクトルの「向き」がどれだけ「似ている」かを-1~+1までの値で定量的に表す尺度のことです。
                +1に近い程「同じ方向」に似ていて、-1に近い程「逆方向」に似ていると表せます。今回は扱っている数値が全て正の整数ですので、0~1までで類似度が計算されます。
                ちなみにコサイン類似度が0の時、2つのベクトルは直交していると表されます。
            </p>
    
            <p>
                <a href="https://yolo-kiyoshi.com/2020/09/02/post-2267/#outline__2_1">協調フィルタリング(Collaborative Filtering)</a>とは、あるユーザー/アイテムの評価尺度が似ている関連商品をレコメンドする手法です。
                これにはユーザー間の類似度を見る「ユーザーベース」とアイテム間の類似度を見る「アイテムベース」の2種類があり、本Webアプリでは後者の考え方を採用しています。
                類似度の評価尺度は、前述の通りコサイン類似度で計算し、それぞれのゲームの相関関係を見ています。
            </p>

            <p>
                評価項目の「向き」の類似度を参照するので、直感的で曖昧な入力でも「方向性」を読み取ってオススメしてくれます。
                なので、全部の評価が3の結果と5の結果が似たような出力になってしまうのですが、見方を変えればゲームの評価という曖昧さを上手くカバーしてくれる良い手法だと考えています。
            </p>
        </div>

        <div class="accordion__tab">ユークリッド距離(euclid)について</div>
        <div class="accordion__content">
            <p>
                レコメンド方法で選べる「euclid」で使用できるAIはユークリッド距離という尺度を用いた協調フィルタリングという手法でレコメンドしています。
            </p>

            <p>
                <a href="https://blog.logicky.com/2015/09/22/協調フィルタリング（ユークリッド距離）/">ユークリッド距離(Euclid Similarity)</a>とは、私たちが普段使っている2点間の「距離」の事です。
                コサイン類似度と比較して「向き」ではなく「距離」をみているので、入力した評価項目と厳密に「値が近い」ものをオススメするという手法になります。
            </p>

            <p>
                ただ、個人的にゲームのレコメンド手法としてユークリッド距離を採用することは最適ではない気がしています。
                そもそもコンテンツ量だのゲーム性だの言われて定量的に正しく自分の尺度を数値化できる人はGoogleを使って膨大な選択肢の中から自分の好きなゲームを見つけられると思いますし、
                データの性質上評価が絶対的なものではないのでドンピシャで評価が同じものが必ずしも自分に合っているとは言えないからです。
            </p>

            <p>
                なので、こちらの機能は上級者向けとなります(?)
            </p>
        </div>

        <div class="accordion__tab">オリジナルアルゴリズム(original)について</div>
        <div class="accordion__content">
            <p>
                レコメンド方法で選べる「original」で使用できるAIはコサイン類似度とユークリッド距離の2つの尺度を用いた協調フィルタリングでレコメンドしています。
            </p>

            <p>
                上記で挙げたコサイン類似度とユークリッド距離の弱点を克服するため、私が改良して実装したアルゴリズムになります。
                具体的には、コサイン類似度の評価点にユークリッド距離の評価点を調整して加点したものを0~1の範囲に正規化した値をおすすめ度として算出し、レコメンドに用いています。
                そうすることで、同じ「方向性」の評価の中でも入力内容に「近い」評価を持つゲームがレコメンドされるようになりました。
            </p>

            <p>
                ユークリッド距離の評価をそのまま合算してしまうと単純なユークリッド距離のレコメンドになってしまうため、この値を調整して使っています。
                評価の重みとしてはコサイン類似度：ユークリッド距離＝100：1程になっており、一見にして後者の影響がごく僅かに反映されているように見えます。
                しかし、この割合が程よく「方向性」の上に「近さ」を効かせることができます。
            </p>
        </div>

        <div class="accordion__tab">使用データについて</div>
        <div class="accordion__content">
            <p>
                学習に用いたデータは<a href="https://gamewith.jp">Game With</a>さんのサイトから規約を確認し、スクレイピングしてきました。
            </p>

            <p>
                <a href="https://gamewith.jp/terms">利用規約</a>にスクレイピングを明示的に禁止する文言が無かったのでスクレイピングはしましたが、禁止事項の項目で「(16) 本サービスの全部または一部を商業目的で、使用方法を問わず利用する行為（それらの準備を目的とした行為も含みます。）」と
                明記されていたため、広告を貼るのはやめておこうと思います...
            </p>
        </div>
    </div>

    <script defer>
        // アコーディオンメニュー
        const tabs = document.querySelectorAll(".accordion__tab");
        const contents = document.querySelectorAll(".accordion__content");

        for (let i = 0; i < tabs.length; i++) {
        // 質問タブをクリックしたら発火
        tabs[i].addEventListener("click", function () {
            // クリックした質問タブのactiveクラスを付け替える
            tabs[i].classList.toggle("active");
            // クリックした質問タブのindex番号の回答コンテンツのactiveクラスを付け替える
            contents[i].classList.toggle("active");
        });
        }
    </script>

{% endblock %}